.card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 100%;
  //flex-grow: 1;

  & img {
    height: 100%;
    width: 40%;
    margin-right: 20px;
  }
}
.infoText{
  flex-grow: 1;
  height: 100%;
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &_category {
    color: #8493ad;
    font-size: 0.8rem;
  }

  &_subject{
    color: whitesmoke;
  }

  &_description{
    color: whitesmoke;
    font-size: 0.9rem;
    line-height: 1.2;
  }
}